<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">

  <link rel="stylesheet" href="//cdn.rawgit.com/xdan/datetimepicker/master/jquery.datetimepicker.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="//cdn.rawgit.com/xdan/datetimepicker/master/jquery.datetimepicker.js"></script>


  <!-- css -->
  <link href="css/base.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


  <!-- js -->
  <!--[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->
</head>

<body>

<div id="wrapper">

  <header>

    <div class="site-title">
      <div class="container">
        News Setting Page
      </div>
    </div><!-- /.site-title -->

  </header>

  <div id="main">
    <div class="container">

      <div class="settings">

        <div class="row">
          <div class="question">
            Do you want Sport?
          </div>
          <div class="switch">
            <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
            <label for="cmn-toggle-1"></label>
          </div>
        </div><!-- /row -->

        <div class="row">
          <div class="question">
            Do you want Weather?
          </div>
          <div class="switch">
            <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
            <label for="cmn-toggle-2"></label>
          </div>
        </div><!-- /row -->

        <div class="row">
          <div class="question">
            3
          </div>
          <div class="switch">
            <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round" type="checkbox">
            <label for="cmn-toggle-3"></label>
          </div>
        </div><!-- /row -->

        <div class="row">
          <div class="question">
            4
          </div>
          <div class="switch">
            <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round" type="checkbox">
            <label for="cmn-toggle-4"></label>
          </div>
        </div><!-- /row -->

        <div class="row">
          <div class="question">
            5
          </div>
          <div class="switch">
            <input id="cmn-toggle-5" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-5"></label>

          </div>
        </div><!-- /row -->

        <div class="row">
          <div class="question2">
            (알람시간)
          </div>
            <input type="text" class='datetimepicker' style="height:30px;" vertical-align:bottom value="">
        </div><!-- /row -->


    </div>
  </div><!-- #main -->

</div><!-- /#wrapper -->

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<script>
      $(function(){
      $('.datetimepicker').datetimepicker({
        lang:'ko',
        format:'Y-m-d H:i',
       dateOnly:true
        });
      });
  </script>

</body>
</html>
